:root {
    
    --bg-clr-main:#bdb7b2;
    --bg-clr-secondary:#A2A2A2;
    --bg-clr-second:#f8f1f1e4;
    --button-clr:#F5F406;
    --text-color-main:#000000;
    --foot-text-colour: #ff9000;
    --totals-clr:#FFF67D;

*{
    box-sizing: border-box;
   
}


}
body{
    margin:0;
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    background-color: var(--bg-clr-main);
    
}

.header {
    background-color: var(--bg-clr-main);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    
    }

.agm2025 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-clr-secondary);
    text-align: center;
    width: 100%;
    margin-inline:auto;
    margin-bottom: 20px;
}

.agm2025 .poster {
    width: 90%;
    
    height: auto;
}

.agm2025 img {
    width: 100%;
    height: auto;
}

#logo {
    width: 150px;
    height: 150px;
}

img     {
    margin: 10px;
    width: 130px;
    height: 130px;
    
}

.facebook {
    max-height: 35px;
    max-width: 35px;
}

.calender {
    margin-top: 30px;
    max-height: 60px;
    max-width: 60px;
}

.donateImg {
    margin-top: 30px;
    max-width: 60px;
    max-height: 60px;
}

.volunteerImg {
    margin-top: 30px;
    max-width: 60px;
    max-height: 60px;
}

.supportImg {
    margin-top: 30px;
    max-width: 60px;
    max-height: 60px;
}




button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--button-clr);
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    margin:20px;
    width: 150px;
    height: 35px;
}



.contactInfo {
    padding: 5px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    line-height: 2rem;
    font-size: 16px;
    letter-spacing: 0.10rem;
}

.contactInfo a {
    font-size: 16px;
}

ul {
    
    list-style: none;
    margin: 10px;
}



li {
    display: inline-flex;
    flex-wrap: wrap;
}

li, a{
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px;
    color: #000000;
}

.navigation li a:active {
    background: #f1d74c;
    color: #ffffff;
   
}

.active {
    background: #f1d74c;
    color: #ffffff;

}
h1 {
    
    color: var(--button-clr);
    font-size: 3.5rem;
    
    
}

h2 {
    margin-top: 0;
    color: black;
    font-size: 3rem;
    background-color: aliceblue;
    
}

h3 {
    
    font-size: 1.5rem;
    color: blue;
}

h4 {
    font-size: 3rem;
    color: #F5F406;
}

span {
    font-size: 1.5rem;
}

#soa {
    font-size: 2rem;
    color: #F5F406;

 
}

button:hover, a:hover {
    opacity: 0.7;
  }


h5 {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.db_details {
    padding: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#section1 {
    padding: 2rem;
    background-color: var(--bg-clr-secondary);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}


#pob {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

#press_release {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-clr-second);
    width: 90%;
}

#press_release a {
    color: #e91e63;
}

#totnes_show {
    text-align: center;
    font-size: 1.2rem;
}

#donation {
    padding: 4rem;
    background-color: var(--bg-clr-secondary);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.bankcard {
    padding: 2rem;
}

.bankDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline:auto;
    border: solid 2px black;
    width: 90%;
    height: auto;
    background-color: var(--button-clr);
    line-height: 1.1rem;
    padding: 2rem;
    

}

.donation_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #A2A2A2;
}

#legal1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    background-color: #f8f1f1e4;
    border: 2px solid rgb(13, 13, 13);
}

#legal1 h1 {
    display: block;
    color: #000000;
    font-size: 2.5rem;
}

#legal1 a {
    font-family: Arial, Helvetica, sans-serif;
}



.campaign {
    background-color: var(--bg-clr-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.current {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-clr-second);
    width: 90%;
}

.current img {
    width: 90%;
    height: Auto;
}

.mealText {
    text-align: center;
    
    background-color: aliceblue;
    padding: 0.5rem;
}



#section3{
    background-image: url(images/img_6517.webp);
    background-size: cover;
    text-align: center;
}

#departments{
    
    text-align: center;
}


#section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-clr-main);
    text-align: center;
}

#section5 {
    background-color: darkolivegreen;
    text-align: center;
}

#Marketing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--bg-clr-secondary);
    text-align: center;
}

.ts_ad {
    width: 90vw;
    height: auto;
}

.upcoming_events {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
	
}

/* Styling the left floating section */
.upcoming_events .leftBox {
    width: 90%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-inline: auto;
    box-sizing: border-box; 
    text-align: center;  
}

/* Styling the background of 
			left floating section */
            .upcoming_events .leftBox .content {
                color: #fff;
                background: rgba(0, 0, 0, 0.5);
                padding: 40px;
                transition: .5s;
            }


    
            /* Styling the paragraph of 
                left floating section */
                .upcoming_events .leftBox .content p {
                margin: 10px 0 0;
                padding: 0;
            }

    .upcoming_events .rightBox {
    width: 90%;
    height: 100%;
    padding-bottom: 10px;
    margin-inline: auto;
    box-sizing: border-box;
}

/* Styling the background of 
			right floating section */
            .upcoming_events .rightBox .content {
                color: #fff;
                background: rgba(0, 0, 0, 0.5);
                padding: 40px;
                transition: .5s;
            }

/* Styling the hover effect 
			of right floating section */
            .upcoming_events .rightBox .content:hover {
                background: #e91e63;
            }
    
            /* Styling the header of right 
                floating section */
                .upcoming_events .rightBox .content h1 {
                margin: 0;
                padding: 0;
                font-size: 50px;
                text-transform: uppercase;
            }
    
            /* Styling the paragraph of 
                right floating section */
                .upcoming_events .rightBox .content p {
                margin: 10px 0 0;
                padding: 0;
            }

.upcoming_events .events {
    display: flex;
    gap: 20px;
}

.upcoming_events .events .time {
    background-color: #262626;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    text-align: center;
}

.upcoming_events .events .time p {
           
            text-align: center;
            font-weight: 700;
}



.totals {
    display: grid;
    gap: 3rem; 
    width: 90%;
    padding-block: 2rem;
    margin-inline:auto;
    font-weight: 900;
    font-size: 2rem;
}

.all_dep {
    display: grid;
    gap: 3rem; 
    width: 90%;
    padding-block: 2rem;
    margin-inline:auto;
    
}

.help {
    display: grid;
    gap: 3rem; 
    width: 90%;
    padding-block: 2rem;
    margin-inline:auto;
}


@media (min-width:60em){
.totals {
    grid-template-columns: repeat(3, 1fr);
   
}

.all_dep {
    grid-template-columns: repeat(3, 1fr);
   
}

.information  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ts_ad {
    width: 60vw;
    height: auto;
}



.help {
    grid-template-columns: repeat(4, 1fr);
}

.foot2 {
    border-left:  solid 1px #ff9000;
    border-right: solid 1px #ff9000;
}



h4 {
    font-size: 1.5rem;
    margin-top: 0;
    padding: 0.5rem;
}

.db_details {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.bankDetails {
    width: 60%;
}



.current img {

    width: 50rem;
    height: Auto;
}

.upcoming_events {
    flex-direction: row;
  
	
}

.upcoming_events .events .time p {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}





}

.p1 {
    font-weight: 700;
    font-size: 1.2rem;
}

.p2 {
    font-size: 5rem;
    padding: 1rem;

}

.p3 {
    font-size: 1rem;
}


#total1  {
    display: block;
    margin-inline:auto;
    border: solid 1px black;
    width: 320px;
    height: 300px;
    background-color: var(--totals-clr);
    line-height: 1.1rem;
    padding-top: 0;
    
}


#total2  {
    margin-inline:auto;
    border: solid 1px black;
    width: 320px;
    height: 300px;
    background-color: var(--totals-clr);
    line-height: 1.1rem;
    }

#total3 {
    margin-inline:auto;
    border: solid 1px black;
    width: 320px;
    height: 300px;
    background-color: var(--totals-clr);
    line-height: 1.1rem;
   }

   
.fbpage {
    background-color: aliceblue;
    height: 500px;
    width: 500px;
    margin-bottom: 100px;

}


#help1  {
    margin-inline:auto;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    background-color: rgb(226, 220, 220);
    
}

#help2  {
    margin-inline:auto;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    background-color: rgb(226, 220, 220);
    }

#help3 {
    margin-inline:auto;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    background-color: rgb(226, 220, 220);
   }

#help4 {
    margin-inline:auto;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    background-color: rgb(226, 220, 220);
   }

.information  {
    display: grid;
    
    background-color: rgb(47, 73, 89);
    color: #ffffff;
    position: absolute;
    width: 100%;
    font-size: 1rem;
    padding: 1.5rem;
    text-align: center;
}


.foot2 {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding-left: 100px;
    padding-right: 100px;
    
    
}

.foot2 a {
    margin-inline: auto;
    font-size: 1rem;
    color: #ffffff;
}

.foot3 a {
    margin-inline: auto;
    font-size: 1rem;
    color: #ffffff;
}
