*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.supporters {
    text-align: center;
}

.support {
    
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin:  20px auto;
    width: 90%;
    text-align: center;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: var(--bg-clr-secondary);
    padding: 5px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .action {
    background-color: white;
  }
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
 